<!DOCTYPE html>
<html>
  <head>
    <%= content_tag :title, 'Blank' %>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="viewport" 
      content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <%= stylesheet_link_tag 'pages', media: 'all',
      'data-turbolinks-track': 'application' %>
    <%= javascript_include_tag 'pages',
      'data-turbolinks-track': 'application' %>
  </head>

  <body class="devise">
    <%= link_to t('home'), root_path %>
    <%= render '/layouts/devise/alert' %>
    <%= yield %>
    <hr>
    <p>Devise Layout</p>
  </body>
</html>
